/* src/pages/CalendarPage.css */
/* .calendar-container {
    max-width: 750px;
    margin: 0px auto;
    padding: 20px;
} */

:root {
  --fc-border-color: #BEE1FF;
  --fc-daygrid-day-bg-color: transparent;
  --fc-daygrid-day-number-color: #3A4F66;
  --fc-today-bg-color: #eff8ff;

  --fc-button-bg-color: #7cb4ca;
  --fc-button-text-color: #545d6b;
  --fc-button-border-color: #7cb4ca;
  --fc-button-hover-bg-color: #98c8db;
  --fc-button-hover-border-color: #98c8db;

  --fc-button-active-bg-color: #67a2b9;
  --fc-button-active-border-color: #67a2b9;

  --fc-event-border-color: transparent;
}

.fc {
  font-family: 'Work Sans', sans-serif;
}
.fc .fc-toolbar-title {
  color: #3A4F66;
  font-size: 1.2em;
  font-weight: 600;
}
.fc .fc-daygrid-day-number {
  padding: 0.4em;
  font-weight: 500;
}
.fc .fc-event {
  font-weight: 500;
  font-size: 12px;
  padding: 2px 4px;
  cursor: pointer;
}