/* src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Quicksand:wght@600;700&display=swap');

:root {
  --azul-escuro: #7cb4ca;
  --azul-medio: #457b9d;
  --azul-claro: #a9d8eb;
  --azul-pastel: #effaff;
  --rosa-destaque: #bd6068;
  --rosa-hover: #ed515e;
  --fonte-principal: "Work Sans", sans-serif;
}

body {
  margin: 0;
  background-attachment: fixed;
  background-color: #e0edf8;
  color: var(--azul-escuro);
  /* font-family: var(--fonte-principal); */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  background-image: url(/images/texture_tinygridLIGHT.png);
  background-repeat: repeat;
}

/* Layout */
.page-wrapper {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  padding: 0 10px;
  margin: 40px auto;
}

.sidebar-column {
  width: 184px;
  flex-shrink: 0;
  font-size: 14px;
}

/* Conteúdo principal */
.content-column {
  flex-grow: 1;
  color: #72aac0;
  padding: 24px;
  padding-bottom: 10px;
  box-shadow: 0 4px 20px rgba(173, 216, 230, 0.3);
  border-image: url(/images/dottedlace3.png) 7 fill round;
  border-width: 7px;
  border-style: solid;
}

/* Imagem de topo */
.img-topo {
  overflow: clip;
  margin-top: -20px;
  border-radius: 12px;
  margin-left: 0;
  border-radius: 8px;
}

.divider-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

/* Sidebar */
.sidebar-box {
  margin-bottom: 20px;
  border: 1px dashed var(--azul-medio);
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(69, 123, 157, 0.1);
  border-image: url(/images/dottedlace3.png) 7 fill round;
  border-width: 7px;
  border-style: solid;
}

/* Título estilo janela retrô */
.box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul-escuro);
  color: #f5fcff;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-radius: 3px 3px 0 0;
}

/* Simulação de controles de janela */
.window-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #f5fcff;
  font-size: 12px;
}

/* Itens da sidebar */
.box-content {
  color: var(--rosa-destaque);
  padding: 6px 10px;
  /* text-align: left; */
  border-radius: 4px;
  margin: 4px 6px;
  transition: 0.3s ease;
}
.box-content:hover {
  color: var(--rosa-hover);
}

/* Links */
a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--rosa-destaque);
  font-size: 13px;
}
a:hover,
a.active {
  color: var(--rosa-hover);
  text-decoration: underline;
}

/* Títulos */
h1,
h2,
h3 {
  color: #46abd3;
  font-weight: 700;
  border-bottom: 1px solid var(--azul-claro);
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  text-align: center;
}

/* Listas */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  margin-bottom: 10px;
}
.sidebar-column ul li::before {
  content: "✿";
  margin-right: 6px;
  color: var(--rosa-destaque);
}

/* Separadores */
.article-content hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #63bcdf, #73cbee, #a9d8eb);
  border-radius: 1px;
  margin: 24px 0;
}
